@font-face {
    font-family: "MalgunGothicRegular";
    src: url("../fonts/Malgun-Gothic29381.woff2") format("woff2"),
    url("../fonts/Malgun-Gothic29381.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "MalgunGothicRegular", "Helvetica", sans-serif;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
}
/*.min-h {*/
/*  min-height: 92vh;*/
/*}*/

/*.header {*/
/*    height: 45px;*/
/*}*/

/*.footer {*/
/*    height: 20px;*/
/*}*/

.header {
    height: 5%;
}

.footer {
    height: 3%;
}

.main-login {
    position: fixed;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    font-size: 2.2rem;
}

.fa-lock {
    width: 16px;
    height: 16px;
}

@media (min-width: 576px) {
  .w-30 {
      width: 60%;
  }
}

@media (min-width: 920px) {
  .w-30 {
      width: 40%;
  }
}

@media (min-width: 1200px) {
  .w-30 {
      width: 30%;
  }
}
